<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
  
</head>
<body>
    <div>
       <h1>电子产品列表</h1>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
